@font-face {font-family: "Maison Neue";
    src: url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.svg#Maison Neue") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Bodoni";
    src: url("https://db.onlinewebfonts.com/t/72c6d6dde263ab535d48874154051fd5.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/72c6d6dde263ab535d48874154051fd5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/72c6d6dde263ab535d48874154051fd5.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/72c6d6dde263ab535d48874154051fd5.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/72c6d6dde263ab535d48874154051fd5.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/72c6d6dde263ab535d48874154051fd5.svg#Bodoni") format("svg"); /* iOS 4.1- */
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-color:#000;
    overflow: auto;
}

section{
    width: 100%;
    height: 100%;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer
}

a:active {
    background-color: transparent;
    outline: 0 !important;
    -moz-outline-style: none !important
}

a:focus {
    outline: 0 !important;
    -moz-outline-style: none !important
}

a:hover,
a:active {
    outline: 0
}

a img {
    border: 0
}

:focus {
    outline: 0
}


ol,
ul,
li {
    display: block;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

strong,
em,
p {
    display: inline-block
}

.mono,
header,
footer,
.slide__text,
.slide__scroll-info,
.projects__paragraph,
.video-player__caption {
    font-family: "Maison Neue"
    /* font-family: 'Roboto Mono'; */
}

.serif,
.title,
.slide__title,
.projects__title__main {
    font-family: "Bodoni Book"
}


.title,
.slide__title {
    text-transform: uppercase
}


#main-container {
    width: 100%;
    height: 120%;
    z-index: 1;
}

.border {
    position: fixed;
    background: #fff;
    z-index: 1001;
    transition: -webkit-transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.border--top,
.border--bottom {
    left: 0;
    width: 100%;
    height: 15px
}


.border--left,
.border--right {
    top: 0;
    width: 15px;
    height: 100%
}


.border--top {
    top: 0;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top
}

.border--bottom {
    bottom: 0;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom
}

.border--left {
    left: 0;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left
}

.border--right {
    right: 0;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right
}


/* .slider__slide {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: -100px;
} */

.slide__content {
    color: #fff;
    text-align: center;
        display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: 15%;
}



.slide__title {
    font-size: 70px;
    line-height: .8em;
    top:40;
    position: absolute;
    left: 0px;
    width: 50px;
}

.slide__subtitle {
    font-size: 74px;
    line-height: .8em
}

.slide__text {
    margin-top: 40px;
    font-size: 14px;
    line-height: 1.4em;
    /* width: 1000px; */
    left: 440px;
}


/* .slide__text--description{
    width: 1000px;
} */
/* .slide__description{
    width: 80px;
} */

.slide__description-title {
    margin-bottom: 21px
}

/* .slide__description-title:after {
    content: ' _'
} */

.slide__description-list {
    margin-left: -3px
}

.slide__description-list-el:before {
    content: '\2022  '
}

.slide__description-list-el .slide__credit {
    transition: opacity 850ms cubic-bezier(0.55, 0, 0.1, 1);
    border-bottom: 0 !important
}

.slide__description-list-el .slide__credit--no-link {
    pointer-events: none
}

.slide__description-list-el .slide__credit:hover {
    opacity: .5;
    transition: opacity 650ms cubic-bezier(0.55, 0, 0.1, 1)
}

.slide__tools{
    top: -250px;
    left: 380px;
}

.slide__row {
    margin-top: 50px
}

.slide__logo-award {
    display: inline-block;
    margin-right: 5px;
    transition: opacity cubic-bezier(0.55, 0, 0.1, 1) 0.3s
}

.slide__logo-award svg {
    height: 20px;
    max-width: 65px;
    fill: #fff
}

.slide__logo-award:hover {
    opacity: .7
}

.slide__logo-award+.slide__button-view {
    margin-left: 50px
}

.slide__button-view {
    display: inline-block;
    padding-left: 100px;
    font-size: 20px;
    color: #fff;
    text-transform: lowercase;
    transition: -webkit-transform cubic-bezier(0.55, 0, 0.1, 1) 0.5s;
    transition: transform cubic-bezier(0.55, 0, 0.1, 1) 0.5s
}

.slide__button-view:active,
.slide__button-view:focus,
.slide__button-view:visited {
    color: #fff
}

.slide__button-view span {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 90px;
    height: 1px;
    background: #fff;
    content: '';
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform cubic-bezier(0.55, 0, 0.1, 1) 0.5s;
    transition: transform cubic-bezier(0.55, 0, 0.1, 1) 0.5s;
    -webkit-transform: scaleX(1) translate3d(0, 0, 0);
    transform: scaleX(1) translate3d(0, 0, 0)
}

.slide__button-view:hover {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0)
}

.slide__button-view:hover span {
    -webkit-transform: scaleX(0.5) translate3d(0, 0, 0);
    transform: scaleX(0.5) translate3d(0, 0, 0)
}


.project__description
{
    max-width: 62.5%;
    transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.3s;
    text-align: left;
    margin-top: 100px;
}

.project__description .slide__title {
    width: 50%
}

.project__description .slide__text__column {
    display: inline-block;
    margin-right: 2.5%;
    line-height: 1.5em;
    vertical-align: top
}

.project__description .slide__text__column:first-child {
    width: 350px
}

.project__description .slide__text__column a {
    display: inline;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    transition: opacity 650ms cubic-bezier(0.55, 0, 0.1, 1)
}

.project__description .slide__text__column a:hover {
    opacity: .5
}

/* media gallery */